<label for="type">Choose chart:</label>
<select id="set" class="form">
	{{!-- {{#each chrts}} --}}
		<optgroup label="All">
			{{#each chrts.all}}
				<option href="#">{{this}}</option>
			{{/each}}
		</optgroup>
		<optgroup label="squarespace">
			{{#each chrts.squarespace}}
				<option href="#">{{this}}</option>
			{{/each}}
		</optgroup>
		<optgroup label="version 1">
			{{#each chrts.v1}}
				<option href="#">{{this}}</option>
			{{/each}}
		</optgroup>
		<optgroup label="version 2">
			{{#each chrts.v2}}
				<option href="#">{{this}}</option>
			{{/each}}
		</optgroup>
		{{!-- {{/each}} --}}
</select><br>
<label for="station">Choose station:</label>
<select id="station" class="form">
	{{#each stations}}
		<option href="#">{{this}}</option>
	{{/each}}
</select>
<div id="mark"></div>
<hr/>
