<label for="type">Choose chart:</label>
<select id="set" class="form">
	{{!-- {{#each chrts}} --}}
		<optgroup label="All">
			{{#each chrts.all}}
				<option href="#" id="{{this}}">{{this}}</option>
			{{/each}}
		</optgroup>
		<optgroup label="squarespace">
			{{#each chrts.squarespace}}
				<option href="#" id="{{this}}">{{this}}</option>
			{{/each}}
		</optgroup>
		<optgroup label="vizchange">
			{{#each chrts.vizchange}}
				<option href="#" id="{{this}}">{{this}}</option>
			{{/each}}
		</optgroup>
		<optgroup label="version 1">
			{{#each chrts.v1}}
				<option href="#">{{this}}</option>
			{{/each}}
		</optgroup>
		<optgroup label="version 2">
			{{#each chrts.v2}}
				<option href="#">{{this}}</option>
			{{/each}}
		</optgroup>
		{{!-- {{/each}} --}}
</select><br>
<label for="station">Choose station:</label>

<select id="station" class="form">
    <optgroup label="fixed">
        {{#each stations.fixed}}
            <option href="#" id="station-{{this.id}}"
                    data-station="{{this.id}}"
                    data-longitude="{{this.position.long}}"
                    data-latitude="{{this.position.lat}}"
                    data-name="{{this.id}}"
                    value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </optgroup>
    <optgroup label="smhi">
        {{#each stations.smhi}}
            <option href="#" id="station-{{this.id}}"
                    data-longitude="{{this.longitude}}"
                    data-latitude="{{this.latitude}}"
                    data-station="{{this.id}}"
                    data-name="{{this.name}}"
                    value="{{this.id}}">
                {{this.name}}
            </option>
        {{/each}}
    </optgroup>

</select>
<div id="mark"></div>
<hr/>
