// extends default
block content
	doctype html
html
	head
		link(rel="stylesheet", type="text/css", href="css/styles.css")
		// meta (charaset="utf-8")
		// include ../jquery.js
		// include ../lib.js
		// include ../customEvents.js
		// include ../import_parser.js
		// include ../regression.js
		// include ../helpers.js
		// include ../highcharts-regression.js
		script(src="https://nicklassundin.github.io/abisko-climate-plots/jquery.js")
		script(src="https://code.highcharts.com/highcharts.js")
		script(src="https://code.highcharts.com/modules/annotations.js")
		script(src="https://code.highcharts.com/highcharts-more.js")
		script(src="https://code.highcharts.com/modules/series-label.js")
		script(src="https://code.highcharts.com/modules/exporting.js")
		script(src="https://code.highcharts.com/modules/export-data.js")
		script(src="https://code.highcharts.com/modules/histogram-bellcurve.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js")
		script(type="text/javascript").
			var nav_lang = '#{LANG}';
			var baselineLower = '#{baselineLower}';
			var baselineUpper = '#{baselineUpper}';
			var station = '#{STATION}';
		script(src="client/bundle.js", type="text/javascript")
	body
		div( id="mark" )
		each ID in ID_REQ
			script(type="text/javascript").
				// console.log(data)
				$(function() {
					// requestChart(ID, lang, document.getElementById("mark"))
					document.getElementById("mark").appendChild(rendF['#{ID}'].html());
					rendF['#{ID}'].func();
				});
